/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

header.fixed-top {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header-navbar {
    position: relative;
}

.box-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
}

.header-navbar:before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}

a.navbar-brand {
    overflow: hidden;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    z-index: 1;
    padding: 9px 35px;
}

.box-images-logo {
    display: inline-block;
    position: relative;
}

nav.navbar.navbar-expand-xl {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
}

ul.dropdown-menu-menu-c2 {
    /* display: none; */
    position: absolute;
    width: 140px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a.nav-link.dropdown-toggle-hover {
    color: #fff;
    display: inline-flex;
    align-items: center;
}

a.nav-link.dropdown-toggle-hover svg path {stroke: #fff;}

a.nav-link.dropdown-toggle-hover svg {
    width: 20px;
    height: 20px;
}

li.nav-item.dropdown {
    padding: 0px 20px;
    position: relative;
}
li.nav-item.dropdown a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
li.nav-item.dropdown:hover ul.dropdown-menu-menu-c2 {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

ul.dropdown-menu-menu-c2 li a {
    font-size: 14px !important;
}

ul.dropdown-menu-menu-c2 li {
    padding: 5px 0px;
}

header.fixed-top.header-bg .header-navbar {
    height: 10rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .055);
    background: #fff;
    border-color: #e9e9e9;
    position: relative;
}

header.fixed-top.header-bg .box-navbar {
    height: 10rem;
}

header.fixed-top.header-bg nav.navbar.navbar-expand-xl a {
    color: #000;
    text-transform: uppercase;
}

header.fixed-top.header-bg svg path {
    stroke: #000;
}

.header-mobile {
    display: none;
}


.header-top-ld {
    /* position: fixed; */
    width: 100%;
    z-index: 999;
    padding: 10px 0px;
    transition: 0.5s ease;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-header-ld {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
}
    .logo-ld img {
        height: 45px;
    }
.icon-navbar {
        width: 40px;
        height: 40px;
    }
.icon-navbar {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}
.navbar-menu-desktops {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease;
}
.navbar-menu-desktops {
    position: relative;
}
.ovl-navbar-menu {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #0000007d;
    z-index: 1;
    transform: translateX(-100%);
    transition: 0.5s ease;
}
.emmet-navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
    padding: 20px;
    width: 80%;
    transform: translateX(-100%);
    transition: 0.5s ease;
}
.close-navbar {
    position: absolute;
    right: 5px;
    top: 5px;
}
.emmet-navbar ul {
    padding-top: 30px;
}
.navbar-menu-desktops ul li {
    padding-bottom: 10px;
}
.navbar-menu-desktops ul li a {
    display: inline-flex
;
    align-items: center;
}
.navbar-menu-desktops ul li a svg {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
.navbar-menu-desktops ul li p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    font-size: 14px;
}

.icon-navbar svg {
    width: 35px;
    height: 35px;
}

.icon-navbar svg path {
    stroke: #fff;
}
.navbar-ld.active .ovl-navbar-menu {
    transform: unset;
    transition: 0.5s ease;
}
.navbar-ld.active .emmet-navbar {
    transform: unset;
    transition: 0.5s ease;
}
.navbar-ld.active .navbar-menu-desktops {
    opacity: 1;
    visibility: visible;
    overflow: initial;
    transition: 0.5s ease;
}
.close-navbar svg {
    width: 25px;
    height: 25px;
}
.navbar-menu-desktops ul li a svg {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
.emmet-navbar img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.box-images-logo img {
    height: 83px;
    position: relative;
    width: 83px;
}
span.per-night img {
    width: 40px;
    height: 40px;
    padding: 3px;
}
.box-images-logo:before {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    background: #fff;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #fff;
    border-radius: 100%;
}

ul.box-menu-c2-mobiles {
    padding-top: 10px;
    margin-left: 20px;
    display: none;
}

.item-menu-c2-mobile-smoll > a {
    display: inline-flex;
    justify-content: space-between;
}
.item-menu-c2-mobile-smoll svg {
    width: 25px;
    height: 25px;
}

.item-menu-c2-mobile-smoll {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



li.menu-header-mobile.menu-mobi-active1 ul.box-menu-c2-mobiles {
    display: block;
    padding-top: 10px;
}



.user-account-image .image svg {
    width: 23px;
    height: 23px;
    fill: #989cab;
    border: 1px solid #989cab;
    padding: 2px;
    border-radius: 100%;
}

.user-account-image .image {
    width: 35px;
    height: 35px;
    background: #e9edf0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    align-items: center;
}

.icon-downup-account svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}

.user-account-image {
    display: flex;
    align-items: center;
    justify-content: right;
}

.icon-downup-account span {
    display: inline-block;
}

.icon-downup-account {
    margin-left: 10px;
}

.header-top {
    padding: 5px 0px;
}

.tablet-only-model a {
    display: inline-block;
    padding: 5px 10px;
    background: #f5f6f9;
    border-radius: 25px;
}

.tablet-only-model {
    margin-right: 10px;
}

.tablet-only-model a {
    font-weight: 700;
    color: #333;
}
.icon-down-up-account svg {
    width: 15px;
    height: 15px;
    fill: #fff;
    margin-left: 10px;
    margin-top: 8px;
}
.tablet-only-modal-login a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #e9edf0;
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media(max-width: 990px){
   
    .header-mobile {
        display: block;
    }
    header.fixed-top {
        display: none;
    }
    .header-top-ld {
        /* position: fixed; */
        width: 100%;
        z-index: 999;
        padding: 10px 0px;
        transition: 0.5s ease;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .box-header-ld {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 999;
    }
        .logo-ld img {
            height: 45px;
        }
    .icon-navbar {
            width: 40px;
            height: 40px;
        }
    .icon-navbar {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
    }
    .navbar-menu-desktops {
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .navbar-menu-desktops {
        position: relative;
    }
    .ovl-navbar-menu {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #0000007d;
        z-index: 1;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }
    .emmet-navbar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 9999;
        background: #fff;
        padding: 20px;
        width: 80%;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }
    .close-navbar {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .emmet-navbar ul {
        padding-top: 26px;
    }
    .navbar-menu-desktops ul li {
        padding-bottom: 10px;
    }
    .navbar-menu-desktops ul li a {
        display: inline-flex;
        align-items: center;
        width: 100%;
    }
    .navbar-menu-desktops ul li a svg {
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
    .navbar-menu-desktops ul li p {
        margin-bottom: 0px;
        padding-bottom: 0px;
        color: #000;
        font-size: 14px;
    }
    
    .icon-navbar svg {
        width: 35px;
        height: 35px;
        fill: #2a4012;
    }
    
    .icon-navbar svg path {
        stroke: #2a4012;
    }
}